td{
    border: 1px solid black;
    height: 50px;
    background-color: royalblue;
    margin: 100px;
    text-align: center;
    border-radius: 20%;
}
span{
    background-color: greenyellow;
    text-align: right;
}
.all{
    margin: auto;
    text-align: center;
    width: 1000px;
}
#game{
    background-color: darkcyan;
    width: 1000px;
}